<div class="max-w-7xl px-4 py-2 mx-auto">
  <h1 class="text-[20px] text-[#464255] font-[600] font-poppins mb-2">
    Projects Overview
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="bg-white p-4 rounded-lg border col-span-3 grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="border-r border-gray-200 pr-4">
        <div class="flex items-center justify-between">
          <h2 class="text-[16px] text-[#464255] font-[500] font-poppins">
            Total Projects
          </h2>
          <span class="text-[12px] text-[#000000] font-[400] font-poppins flex items-center bg-gray-100 p-1 rounded-full">
            <i class="fas fa-arrow-up text-green-500 mr-1"></i>
            10.0%
          </span>
        </div>
        <div class="flex items-center justify-between mt-2">
          <span class="text-[28px] text-[#1A2B88] font-[700] font-poppins">
            140
          </span>
        </div>
        <p class="text-[12px] text-[#1A2B88] font-[400] font-poppins">
          Last Updated: 03:50 PM Oct 02,2024
        </p>
        <div class="flex mt-2 ml-2">
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#1164B0]"><span class="text-white text-[12px] font-[400] font-poppins">JD</span></div>
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#34AAE2]"><span class="text-white text-[12px] font-[400] font-poppins">MS</span></div>
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#EC1C24]"><span class="text-white text-[12px] font-[400] font-poppins">NI</span></div>
        </div>
      </div>
      <div class="border-r border-gray-200 pr-4">
        <div class="flex items-center justify-between">
          <h2 class="text-[16px] text-[#464255] font-[500] font-poppins">
            Open Projects
          </h2>
          <span class="text-[12px] text-[#FF0000] font-[400] font-poppins flex items-center bg-[#FF00001A] p-1 rounded-full">
            <i class="fas fa-arrow-down text-[#FF0000] mr-1"></i>
            3.0%
          </span>
        </div>
        <div class="flex items-center justify-between mt-2">
          <span class="text-[28px] text-[#1A2B88] font-[700] font-poppins">
            50
          </span>
        </div>
        <p class="text-[12px] text-[#1A2B88] font-[400] font-poppins">
          Last Updated: 03:50 PM Oct 02,2024
        </p>
        <div class="flex mt-2 ml-2">
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#1164B0]"><span class="text-white text-[12px] font-[400] font-poppins">JD</span></div>
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#34AAE2]"><span class="text-white text-[12px] font-[400] font-poppins">MS</span></div>
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#EC1C24]"><span class="text-white text-[12px] font-[400] font-poppins">NI</span></div>
        </div>
      </div>
      <div class="pr-4">
        <div class="flex items-center justify-between">
          <h2 class="text-[16px] text-[#464255] font-[500] font-poppins">
            Closed Projects
          </h2>
          <span class="text-[12px] text-[#000000] font-[400] font-poppins flex items-center bg-gray-100 p-1 rounded-full">
            <i class="fas fa-arrow-up text-green-500 mr-1"></i>
            3.2%
          </span>
        </div>
        <div class="flex items-center justify-between mt-2">
          <span class="text-[28px] text-[#1A2B88] font-[700] font-poppins">
            62
          </span>
        </div>
        <p class="text-[12px] text-[#1A2B88] font-[400] font-poppins">
          Last Updated: 03:50 PM Oct 02,2024
        </p>
        <div class="flex mt-2 ml-2">
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#1164B0]"><span class="text-white text-[12px] font-[400] font-poppins">JD</span></div>
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#34AAE2]"><span class="text-white text-[12px] font-[400] font-poppins">MS</span></div>
          <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-white -ml-1 bg-[#EC1C24]"><span class="text-white text-[12px] font-[400] font-poppins">NI</span></div>
        </div>
      </div>
    </div>
    <div class="bg-blue-600 p-6 rounded-lg flex items-center justify-center">
      <button class="text-white text-[16px] font-[500] font-poppins flex flex-col gap-4 items-center">
        <i class="fas fa-plus mb-2 text-[2rem] font-[500]"></i>
        Add Project
      </button>
    </div>
  </div>
</div>
