<div class="h-[100vh] flex justify-between">
  <!-- Left Pane -->
  <div class="lg:w-[500px] md:w-[1400px] h-[100vh] flex flex-col justify-center bg-white px-8">
    <div class="mb-4 ">
      <h1 class="text-[36px] font-poppins font-[700] text-[#FF361F]">CogNocx</h1>
    </div>
    <div class="w-full px-4">
      <div class="mb-6">
        <h2 class="text-[32px] text-[#000000] font-[700] font-poppins">Sign In</h2>
        <p class="text-[14px] text-[#000000] font-[400] font-poppins">
          Don't have an account?
          <a class="font-poppins font-[400] text-[#0F39A0] hover:underline" routerLink="/signUp">Sign up</a>
        </p>
      </div>
      <div class="mb-4">
        <label for="email" >Email</label>
        <input type="email" class="input" name="email" id="email" />
      </div>
      <div class="mb-4">
        <label for="password">Password</label>
        <div class="relative mt-1">
          <input type="password" class="input" id="password"/>
          <button type="button" id="button-addon1"
            class="absolute inset-y-1 right-0 px-3 py-2 text-gray-500 hover:text-gray-700 focus:outline-none">
            <i class="fas fa-eye-slash"></i>
          </button>
        </div>
      </div>
      <div class="flex justify-between items-center mb-4">
        <label class="flex items-center">
          <input type="checkbox" id="flexCheckDefault"
            class="form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" />
          <span class="ml-2">Remember Me</span>
        </label>
        <a href="#" class="font-poppins font-[400] text-[14px] text-[#0F39A0] hover:underline">Forgot Password?</a>
      </div>
      <div class="mb-4">
        <button
          class="w-full mt-2 px-4 py-2 text-white bg-[#0F39A0] rounded-[24px] hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300"
          routerLink="/dashboard">
          Login
        </button>
      </div>
       <div class="mb-4 mt-4 flex items-center w-full max-w-md">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="mx-4 text-gray-400">Or continue with</span>
        <div class="flex-grow border-t border-gray-300"></div>
       </div>
      <div class="flex justify-center gap-4">
        <img
          src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA"
          alt="Google" class="h-6 w-6" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Microsoft_Office_Teams_%282018%E2%80%93present%29.svg/800px-Microsoft_Office_Teams_%282018%E2%80%93present%29.svg.png" alt="Custom" class="h-6 w-6" />
        <img src="https://mailmeteor.com/logos/assets/PNG/Microsoft_Logo_512px.png" alt="Microsoft" class="h-6 w-6" />
      </div>
    </div>
  </div>
  <!-- Right Pane -->
  <div class="h-[100vh] w-[1000px] bg-[url('/assets/fullFrame.svg')] bg-[#0F39A0] rounded-tl-[20px]
    rounded-bl-[20px] bg-no-repeat bg-cover flex-col items-center justify-center hidden lg:flex">

    <div class="w-[500px] p-[2rem]">
      <h2 class="text-[40px] font-poppins font-[600] text-[#FFFFFF]">Welcome Back!</h2>
      <h3 class="text-[36px] mt-4 font-poppins font-[600] text-[#FF361F]">CogNocx</h3>
      <p class="text-[24px] opacity-[.9] mt-3 font-poppins font-[500] text-[#FFFFFF]">Seamless Collaboration</p>
      <p class="font-poppins mt-2 font-[400] opacity-[.7] text-[14px] text-[#FFFFFF]">
        Your Gateway to Effortless Management. Effortlessly work together with your team in real-time.
      </p>
      <div class="flex items-center mt-8 gap-3">
        <div class="flex items-center justify-center gap-2 ml-[10px] ">
          <img alt="Avatar 1" class="image"
            src="https://storage.googleapis.com/a1aa/image/MfgayjEZNoxbU62T4YfkE8e6fYSJiSeMsrZt7uH4Vsc0TAkeE.jpg" />
          <img alt="Avatar 2" class="image"
            src="https://storage.googleapis.com/a1aa/image/wJLRvi59RAqzFVlXUSyeHAstq9xJ75mjW8FBevYVCxmZCg0TA.jpg" />
          <img alt="Avatar 3" class="image"
            src="https://storage.googleapis.com/a1aa/image/ssDfcBIzAzWeb0PsufUIEswFjUPguAFXfllLAx6ImqffmAI9E.jpg" />
          <img alt="Avatar 4" class="image"
            src="https://storage.googleapis.com/a1aa/image/1YeABdsF5DU7P6rI7l8apVDIyWiYGAQNFgsevQ6RvWEcCg0TA.jpg" />
        </div>
        <div class="font-poppins mt-2 font-[400] opacity-[.7] text-[13px] text-[#FFFFFF]">More than 1K people joined us, it's your turn</div>
      </div>
    </div>
  </div>
</div>
