input {
  margin-top: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: white;
  border: 1px solid #cbd5e1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #64748b;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  width: 100%;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  &:focus {
      border-color: #38bdf8;
      box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.5);
    }
}
label {
  color: #3e3f40;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}


