<div class="container-fluid">
    <div class="row">
        <div class="left-pane col-lg-4 d-none d-lg-flex">
            <div class="company-name">
                <h1>CogNocx</h1>
            </div>
            <div class="container">
                <div class="SignIn">
                    <h2>Signing Up</h2>
                    <h5>You are on the path to greatness</h5>
                </div>
                <div class="selected-plan">
                    <p>Selected Plan</p>
                    <h3>Standard</h3>
                    <h2>$15 <span>/ month</span></h2>
                </div>
                <div class="desc mt-3">
                    <p>Display stars in Google organic <br> search risult and showcase.</p>
                </div>
                <a href="">Change Plan</a>
            </div>
        </div>
        <div class="right-pane">
             <div class="container">
                <div class="heading">
                    <h2>Set Up Your Profile!</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>
                    <div class="col-6">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control" name="company" id="company">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="country" id="country">
                    </div>
                    <div class="col-6">
                        <label for="city" class="form-label">State</label>
                        <input type="text" class="form-control" name="city" id="city">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" name="city" id="city">
                    </div>
                    <div class="col-6">
                        <label for="zipCode" class="form-label">ZIP Code</label>
                        <input type="number" class="form-control" name="zipCode" id="zipCode">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div class="col-6">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <div class="btn-container d-flex justify-content-between">
                    <div class="arrow">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <button class="btn btn-danger" type="submit" routerLink="/login">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>